%h1 New Wiki

= form_for @wiki do |f|

  %div.form-group
    = f.label :subject
    %br
    = f.text_field :subject, autofocus: true, class: 'form-control'
  %div.form-group
    = f.label :body
    %br
    = f.text_area :body, class: 'form-control', rows: '10'
  -if policy(@wiki).private?
    %div.form-group
      = f.label "Make Private"
      %br
      = f.check_box :privacy, {}, "Private", "Public"
      :javascript
        $("[name='wiki[privacy]']").bootstrapSwitch();
  %div.form-group
    = f.submit "Save", class: 'btn btn-success'
