%html
  %head
    %title 
      Saaswiki
    =stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    
    =javascript_include_tag 'http://localhost:3001/api.js'

    =csrf_meta_tags
  %body
    %div.container
      %ul.nav.nav-tabs
        -if user_signed_in?
          %li
            =link_to "Wikis", public_index_path
          %li 
            =link_to "Your Wikis", wikis_path
          %li
            =link_to "Create New", new_wiki_path
        %div.pull-right.user-info
          -if current_user  
            Hello #{link_to (current_user.username || current_user.email), current_user} !
            = link_to edit_user_registration_path, class: 'btn btn-primary btn-sm' do
              %span.glyphicon.glyphicon-user
            =link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' do
              %span.glyphicon.glyphicon-log-out
          -else
            #{link_to "Sign In", new_user_session_path} or #{link_to "Sign Up", new_user_registration_path}
      -if flash[:notice]
        %div.alert.alert-success
          %button(type="button" class="close" data-dismiss="alert")
            &times
          = flash[:notice]
      -elsif flash[:error]
        %div.alert.alert-danger
          %button(type="button" class="close" data-dismiss="alert")
            &times
          = flash[:error]
      -elsif flash[:alert]
        %div.alert.alert-warning
          %button(type="button" class="close" data-dismiss="alert")
            &times;
          = flash[:alert]
      =yield